<div class="clear" style="clear:both"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center"><img src="/img/erms150x150.png" width="150" height="150"></div>
      <div class="col-md-4">
        <p>Liens utiles</p>
        <ul class="list-unstyled">
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Conditions générales d'utilisation</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>Liens utiles</p>
        <ul class="list-unstyled">
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Conditions générales d'utilisation</a></li>
          <li><a href="#">Conditions générales de vente</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center">&copy; 2016 ERMS - Tous droits réservés</p>
  </div>
</footer>
