  <div class="jumbotron">
    <div class="container">
      <h1>Le portail collectif ...</h1>
      <h2>On met une belle photo tout le long</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Un gage de qualité</h2>
        <ul>
          <li>Conforme à la norme européenne NFEN13241-1</li>
          <li>Une motorisation à toute épreuve</li>
          <li>Peinture thermolacquée au choix dans la gamme RAL standard</li>
          <li>On peut faire des icones comme sur JLM Entreprise</li>
        </ul>
      </div>
      <div id="signup" class="col-md-4">
        <h2>Je veux en savoir plus !</h2>
        <p>Je remplis le formulaire ci-dessous, un commercial me contactera et répondra à toutes mes questions.</p>
        <form class="form-horizontal">
          <input name="name" type="text" class="form-control" placeholder="Mon nom" required autofocus>
          <input name="phone" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="form-control" placeholder="Mon téléphone" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Contactez-moi !</button>
        </form>
      </div>
    </div>
  </div>
  
