footer {
	margin-top: 20px;
	padding-top: 50px;
	background-color: #d9534f;
	
	font-size: 0.9em;
}
footer a, footer p {
	color: white;
}
footer a:hover {
	color: black;
}

footer .col-md-4 {
	border-right: solid 1px white;
	height: 100%;
}